<h1>Editando Disciplina</h1>

<%= render 'form', discipline: @discipline %>

<%= link_to 'Exibit', @discipline, class: 'btn btn-primary' %> |
<%= link_to 'Voltar', disciplines_path, class: 'btn btn-info' %>