<p id="notice"><%= notice %></p>

<p>
  <strong>Devolutiondate:</strong>
  <%= @devolution.devolutionDate %>
</p>

<%= link_to 'Edit', edit_devolution_path(@devolution) %> |
<%= link_to 'Back', devolutions_path %>
